<div class="incoming-messages" flex>
	<md-content>
		<md-list>
			<md-list-item class="md-3-line" ng-repeat="message in actionMonitorController.messagesRecieved">
				<div class="md-list-item-text">
					<h3>{{message.from}}</h3>
					<h4>{{message.to}}</h4>
					<p>id : {{message.id}}, message: {{message.content}}, It was:  {{message.edited ? "edited" : "Sent"}} - Deliverd : {{message.delivered ? "Delivered" : "Not Delivered"}} </p>
				</div>
				<md-divider ng-if="!$last"></md-divider>
			</md-list-item>
		</md-list>
	</md-content>

</div>