<div layout="column" layout-padding ng-cloak>
	<md-content layout-padding>
		<form name="loginForm" ng-submit="loginController.loginUser(loginForm)">
			<md-input-container class="md-block">
				<label>Username</label>
				<input md-maxlength="30" required md-no-asterisk name="username" ng-model="loginController.username">
			</md-input-container>
			<md-button type="submit" class="md-raised md-primary">Login</md-button>
		</form>
	</md-content>
</div>