<div layout="row">
	<md-content flex layout-padding >
		
		<form name="communicationForm" ng-submit="communicationController.addMessage(communicationForm)">
		
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
					<label>To</label>
					<input ng-model="communicationController.message.to">
				</md-input-container>
			</div>
			
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Message</label>
					<textarea ng-model="communicationController.message.content"></textarea>
				</md-input-container>
			</div>
			
			
			<md-button type="submit" class="md-raised md-primary">Send</md-button>
			
		</form>
	</md-content>
	
	<div class="incoming-messages" flex>
		<md-content>
			<md-list>
				<md-subheader class="md-no-sticky">Messages Received</md-subheader>
				<md-list-item class="md-3-line" ng-repeat="message in communicationController.messagesRecieved">
					<div class="md-list-item-text">
						<h3>{{message.to}}</h3>
						<h4>{{message.from}}</h4>
						<p>{{message.content}}</p>
					</div>
					<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
			</md-list>
		</md-content>
	</div>
	<div flex>
		<md-list>
			<md-subheader class="md-no-sticky">Messages Sent</md-subheader>
			<md-list-item ng-repeat="message in communicationController.messagesSent" ng-click="communicationController.editMessage(message, $event)" class="noright">
				<h3>{{message.to}}</h3>
				<p>{{ message.content }}</p>
				<i class="material-icons">mode_edit</i>
			</md-list-item>
		</md-list>
	</div>
</div>
<div layout="row">
	
</div>